node_modules/
dist/
dist-electron/
release/
out/
.DS_Store
*.log
logs
openclaw
runtime
config
/.vscode
/electron-builder-cache
/.dev-user-data

# build artifacts
*.tsbuildinfo
electron.vite.config.*.mjs
CLAUDE.md
